@font-face { font-family: Monice; src: url('fonts/Monice/Monice.otf'); } 

:root {
    --bgcolor: #1e1e28;
    --headercolor: #373737;
    --primarycolor1: #e3c0f7;
    --primarycolor2: #9505f0;
    --textcolor: #ffffff;
    --headerbuttoncolor: #ffffff;
}

.header {
    background-color: rgba(150,150,150, 0.5);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.25);
    width: 100%;
    font-family: Monice;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    white-space: nowrap;
    overflow: hidden;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 8;
}
.headerbutton {
    text-decoration: none;
    font-size: 1.8em;
    color: var(--headerbuttoncolor);
    margin-right: 50px;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.3em;
    transition: text-decoration-color 300ms;
}
.headerbutton:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}
.headerleft {
    text-decoration: none;
    font-size: 2.5em;
    float: left;
}
.headerright {
    float: right;
    margin-top: 12.5px;
}
.logospan1 {
    position: relative;
    right: 50px;
    bottom: 15px;
    color: var(--primarycolor1);
}
.logospan2 {
    color: var(--primarycolor2);
}
.logoimg {
    position: relative;
    right: 20px;
}

/* Small size */

@media screen and (max-width: 825px) {
    .headerleft {
        float: none;
        display: block;
        text-align: center;
    }
    .headerright {
        display: flex;
        place-content: space-evenly;
        text-align: center;
        margin: 0;
        float: none;
        margin-bottom: 10px;
    }
    .headerbutton {
        margin: 0;
    }
}

/* Phone size */

@media only screen and (max-width: 572px) {
    .headerright {
        display: block;
    }
    .headerbutton {
        position: relative;
        bottom: 10px;
        line-height: 20px;
        white-space: pre-line;
    }
}