@font-face { font-family: IOS; src: url('fonts/SF-Pro/SF-Pro.ttf'); } 
@font-face { font-family: Monice; src: url('fonts/Monice/Monice.otf'); } 
@font-face { font-family: Manolo; src: url('fonts/Manolo/Manolo Black.otf'); } 

:root {
    --bgcolor: #1e1e28;
    --headercolor: #373737;
    --primarycolor1: #e3c0f7;
    --primarycolor2: #9505f0;
    --textcolor: #ffffff;
    --headerbuttoncolor: #ffffff;
}

body {
    margin: 0;
    font-family: IOS;
}
html {
    width: 100%;
}
@keyframes fadein {
    from { opacity: 0; transform: translateY(-100%)}
    to   { opacity: 1; transform: translateY(0%)}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: translateY(-100%)}
    to   { opacity: 1; transform: translateY(0%)}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: translateY(-100%)}
    to   { opacity: 1; transform: translateY(0%)}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; transform: translateY(-100%)}
    to   { opacity: 1; transform: translateY(0%)}
}

.content {
    z-index: 3;
    text-align: center;
    align-self: center;
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: var(--textcolor);
    filter: inherit;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}
.first {
    position: relative;
    height: 80px;
    width: 100%;
}

.second {
    position: relative;
    height: 15px;
}

.third {
    position: relative;
    height: 520px;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 5vw;
    font-family: IOS;
}

.joinlogo {
    width: 75px;
    height: auto;
}

.joinbutton:hover {
    transform-origin: center center;
    border-radius: 18px;
    padding: 15px 32px;
    transform: scale(1.1);
    border: 6px solid rgba(100,100,100, 0.2);
    background-color: rgba(100,100,100, 0.2);
    color: white;
}
.first {
    margin-top: 80px;
}
.second {
    padding-top: 80px;
    font-size: 38px;
}

.joinbutton {
    transform-origin: center center;
    margin: 0 auto;
    font-family: Monice;
    white-space: nowrap;
    text-decoration: none;
    font-size: 50px;
    border-radius: 18px;
    padding: 15px 32px;
    border: 4px solid white;
    background-color: rgba(100,100,100, 0.2);
    color: white;
    transition: transform 0.4s, border 0.4s;
    display: inline-block;
}

.joinspan1 {
    position: relative;
    top: 5px;
}
.joinspan2 {
    position: relative;
    bottom: 5px;
}

.second {
    position: relative;
    font-family: Monice;
    /*transition: 400ms;
    transform-origin: center;*/
}

.tile {
    transition: transform 400ms;
    transform-origin: center;
    width: inherit;
    height:auto;
}
.cols {
    transform: scale(0.7);
    transition: 400ms;
    transform-origin: center;
    justify-content: center;
    place-content: space-evenly;
    display: flex;
    margin: 0;
    justify-items: flex-end;
}
.myimg {
    transform: scale(0.9);
    height: auto;
    width: 100%;
}
.tile:hover{
    transform: scale(1.1);
}
.tile {
    height: 450px;
}
.tch {
    height: 335px;
    width: inherit;
}
.col {
    width: 375px;
}
.title {
    margin-top: 37.5px;
    font-family: Manolo;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.description {
    opacity: 0;
    transition: 800ms;
    padding: 20px;
    border-radius: 32px;
    border: 4px solid white;
    margin-top: 30px;
    font-family: IOS;
    font-size: 28px;
    vertical-align: middle;
}
.tile:hover + .description {
    opacity: 1;
    margin-top: 45px;
}


/* Small size */

@media only screen and (max-width: 825px) {
    .first {
        height: 20vw;
        margin-top: 40px;
    }
    .second {
        height: 24vw;
        padding-top: 1vw;
        font-size: 6vw;
    }
    .third {
        margin: 0;
        padding: 0;
        height: unset;
        bottom: 15vw;
    }
    .cols {
        position: relative;
        left: 50%;
        transform: translateX(-50%) scale(0.5)
    }
    .joinbutton {
        position: absolute;
        left: 50%;
        width: 100%;
        font-size: 7.15vw;
        transform: translateX(-50%) scale(0.75, 0.75);
    }
    .joinbutton:hover {
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    .moneyt commandst clockt {
        position: relative;
        left: 25%;
        transform: translateX(-37.5%) scale(0.75);
    }
    .joinlogo {
        width: 10vw;
    }
    .joinspan2 {
        bottom: 1vw;
    }

}

/* Phone size */

@media only screen and (max-width: 572px) {
    .first {
        margin-top: 40px;
    }
    .col {
        width: 100vw;
    }
    .second {
        top: 2vw;
    }
    .third {
        top: 2vw;
        margin: 15px;
    }
    .tch {
        height: 70vw;
    }
    .tile {
        height: 90vw;
        width: 100%;
    }
    .title {
        font-size: 12vw;
        margin: 0;
        padding: 0;
    }
    .description {
        font-size: 8vw;
    }
    .cols {
        transform-origin: center center;
        transform: translateX(0%) scale(1);
        left:0;
        margin: 15vw;
        padding: 0;
        width: unset;
        position: unset;
        display: block;
    }
}